body{
    background-color: darkslategray;
}

.title{
    text-align: center;
}

.filter_box{
    display: flex;
    justify-content: space-evenly;
    height: 20px;
    margin: 20px;
}

.filmlinks{
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    justify-content: space-around;
    gap: 10px;
}

.checkradio
{
    width: 100px;
    background-color: green;
    text-align: center;
    cursor: pointer;
}

.searchheader{
    text-align: center;
}

@media screen and (max-width: 1600px){
    .filmlinks{
        grid-template-columns: 23% 23% 23% 23%;
    }
}

@media screen and (max-width: 1280px){
    .filmlinks{
        grid-template-columns: 30% 30% 30%;
    }
}

@media screen and (max-width: 950px){ 
    .filmlinks{
        grid-template-columns: 40% 40%;
    }
}

@media screen and (max-width: 650px){
    .filmlinks{
        grid-template-columns: 95%;
    }
}
